body,
h1,
h2,
ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
    font-family: "Noto Serif";
}

#app {
    padding: 0 80px;
}

.produtos {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.produto-img {
    max-width: 300px;
    margin-right: 40px;
}

.produto-titulo {
    font-size: 3rem;
    line-height: 1;
}

.produto-preco {
    color: rgba(0, 0, 0, .5);
}

.modal::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;
}

.modal-container {
    position: relative;
    background: linear-gradient(to right, transparent 250px, white 250px);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 0px 50px 50px 0;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3D(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3D(0px, 0, 0);
    }
}

.modal-fechar {
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.modal-img {
    grid-column: 1;
    margin-top: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
}

.modal img {
    max-width: 300px;
    display: block;
}

.modal-dados {
    max-width: 600px;
    grid-column: 2;
}

.modal-titulo {
    font-size: 3rem;
}

.modal-btn {
    margin-top: 80px;
    background: #000;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    font-family: "Noto Serif"
}

.modal-btn:active {
    background: #808080;
}

.avaliacoes {
    grid-column: 2;
}

.avaliacao {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 20px;
}

.avaliacoes-subtitulo {
    font-size: 1.75rem;
}

.avaliacao-descricao {
    color: rgba(0, 0, 0, .7);
    margin: 20px 0 5px 0;
}

.avaliacao-usuario {
    font-weight: bold;
}